<h2>Input the name of your favorite movie.</h2>

<form action="/view_movie_info" method="get">
<input type="text" name="movie">     <!-- name is synonymous with params -->
<button>Find movie</button>
</form>

