
<h2>Check the box to add this movie to your favorites</h2>

<form action="/add movie" method="get">
<input type="checkbox" name="fave">     <!-- name is synonymous with params -->
<button>Add to favorites</button>
</form>

<%=@search_movies>


<h4><a href="/">Return to homepage</a></h4>