
<h2>Check the box to add <%= @title %> movie to your favorites</h2>

<form action="/add_movie/<%= @title %>" method="get">
  <input type="checkbox" name="fave">
     <!-- name is synonymous with params -->
  <input type="text" name="title">
     <!-- name is synonymous with params -->
  <button>Add to favorites</button>
</form>

<%= @title %>


<h4><a href="/">Return to homepage</a></h4>